<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Maintenance Tracker</title>
    <link rel = 'stylesheet' type = 'text/css' href = 'static/css/adminviewrequests.css'>
    <link rel = 'stylesheet' type = 'text/css' href = 'static/css/mainlayout.css'>
    <script src = '..\static\js\jquery-3.3.1.min.js'></script>
    <script src = '..\static\js\myscript'></script>
</head>
<body>
    <div>
        
        <div id = 'navigation'>
            <!-- Top navigation bar-->
            <div class="topnav">
                <a class="home" href="index.html">MAINTENANCE TRACKER</a>
                <a href="/adminlogin.html">ADMIN LOGIN</a>
                <a href="/login.html">LOG IN</a>
                <a href="/signup.html">SIGN UP</a>
            </div>
        
            <!-- Side navigation bar-->
            <div class="sidenav">
                <a href="/myrequests.html">View Requests</a>
                <a href="#">Log out</a>
                <a href="#">About</a>
            </div>
        </div>

        <div class = 'requests-table'>
            <h1>View Requests</h1>
            <table>
                <tr>
                    <td><strong>Username</strong></td>
                    <td><strong>Device details</strong></td>
                    <td><strong>Status</strong></td>
                </tr>

                <tr>
                    <td>#hacefb452832</td>
                    <td>Laptop</td>
                    <td><a href = 'editstatus.html'>Submitted</a></td>
                </tr>

                <tr>
                    <td></td>
                    <td><small>Battery no hablo espanyol Using project management tool(pivotal tracker)<br />
                        to manage your progress while working on tasks.</small></td>
                    
                </tr>

                <tr>
                    <td>#aefch7ee368293d</td>
                    <td>Galaxy S6</td>
                    <td><a href = 'editstatus.html'>Approved</a></td>
                </tr>

                <tr>
                    <td></td>
                    <td><small>Cracked screen needs to be replaced Using project management tool<br />
                        (pivotal tracker) to manage your progress while working on tasks.</small></td>
                </tr>

                <tr>
                    <td>#dceefa5382d635ca7</td>
                    <td>Projector</td>
                    <td><a href = 'editstatus.html'>Submitted</a></td>
                </tr>
        
                <tr>
                    <td></td>
                    <td><small>Faulty LED light needs replacement Using project management tool<br />
                        (pivotal tracker) to manage your progress while working on tasks.</small></td>
                </tr>
        
            </table>
        </div>
    </div>

</body>
</html>