<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Maintenance Tracker</title>
    <link rel = 'stylesheet' type = 'text/css' href = 'static\css\index.css'>
    <link rel = 'stylesheet' type = 'text/css' href = 'static\css\mainlayout.css'>
    <script src = '..\static\js\jquery-3.3.1.min.js'></script>
    <script src = '..\static\js\myscript'></script>
</head>
<body>
    <div>

        <div id = 'navigation'>
            <!-- Top navigation bar-->
            <div class="topnav">
                <a class="home" href="index.html">MAINTENANCE TRACKER</a>
                <a href="/adminlogin.html">ADMIN LOGIN</a>
                <a href="/login.html">LOG IN</a>
                <a href="/signup.html">SIGN UP</a>
            </div>
        
            <!-- Side navigation bar-->
            <div class="sidenav">
                <a href="/newrequest.html">New Request</a>
                <a href="/myrequests.html">View Requests</a>
                <a href="#">Log out</a>
                <a href="#">About</a>
            </div>
        </div>

        <div class = 'welcome'>

            <h1 id = 'welcome'>Welcome</h1>

            <!--Enter username-->
            <img src = 'https://media.giphy.com/media/UrLXI4J4KF7LG/giphy.gif' class = 'image'/>
        </div>
    </div>
</body>
</html>