<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Maintenance Tracker</title>
    <link rel = 'stylesheet' type = 'text/css' href = 'static\css\myrequests.css'>
    <link rel = 'stylesheet' type = 'text/css' href = 'static\css\mainlayout.css'>
    <script src = '..\static\js\jquery-3.3.1.min.js'></script>
    <script src = '..\static\js\myscript'></script>
</head>
<body>
    <div>
        
        <div id = 'navigation'>
            <!-- Top navigation bar-->
            <div class="topnav">
                <a class="home" href="index.html">MAINTENANCE TRACKER</a>
                <a href="/adminlogin.html">ADMIN LOGIN</a>
                <a href="/login.html">LOG IN</a>
                <a href="/signup.html">SIGN UP</a>
            </div>
        
            <!-- Side navigation bar-->
            <div class="sidenav">
                <a href="/newrequest.html">New Request</a>
                <a href="/viewrequests.html">View Requests</a>
                <a href="#">Log out</a>
                <a href="#">About</a>
            </div>
        </div>

        <div class = 'requests-table'>
            <h1>My Requests</h1>
            <table id = 'requests-table'>
                <tr>
                    <td><strong>Device details</strong></td>
                    <td><strong>Status</strong></td>
                </tr>

                <tr>
                    <td>Laptop</td>
                    <td>Submitted</td>
                </tr>

                <tr>
                    <td><small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec magna neque, <br /> 
                        porttitor vel felis vehicula, maximus malesuada nisi.</small></td>
                    
                </tr>

                <tr>
                    <td>Galaxy S6</td>
                    <td>Approved</td>
                </tr>

                <tr>
                    <td><small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec magna neque, <br /> 
                        porttitor vel felis vehicula, maximus malesuada nisi.</small></td>
                </tr>

                <tr>
                    <td>Projector</td>
                    <td>Submitted</td>
                </tr>
        
                <tr>
                    <td><small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec magna neque, <br /> 
                        porttitor vel felis vehicula, maximus malesuada nisi.</small></td>
                </tr>
        
            </table>
        </div>
    </div>
</body>
</html>