body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.welcome {
    position: relative;
    left: 160px;

}

.image {
    position: relative;
    width: 50%;
    height: 50%;
}

#welcome {
    position: relative;
    left: 5px;
}